body{
  background-image: url("background.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.Header
{
  background: rgba(217, 204, 204 , 0.5);
  height: 80px;
  width: 1000px;
  margin-top: 0px;
}